.bg-main-color{
    background-color: $blue;
}
.bg-transparent{
    background: transparent;
}
.bg-sub-color{
    background: $sub-color;
}
.bg-blue-light{
    background: $blue-light;
}
.bg-blue-light-2{
    background: $blue-light-2;
}
.bg-blue{
    background: $blue;
}
.bg-grey{
    background: $grey;
}
.bg-pale-grey{
    background: $pale-grey;
}
.bg-white{
    background: white;
}
.bg-light-grey{
    background: $light-grey;
}
// Text
.text-white{
    color: $white;
}
.text-brand{
    color: $blue;
}
.text-red{
    color: $red;
}
.text-black{
    color: $black;
}
.text-subcolor{
    color: $sub-color;
}
.text-grey{
    color: $grey;
}
.text-pale-grey{
    color: $pale-grey;
}
.text-yellow{
    color: $yellow;
}
.fb-color{
    color : $facebook;
}
.youtube-color{
    color: $youtube;
}
.insta-color{
    color: $dark-brown;
}
