// related products
.related-products{
    > .slick-initialized.slick-slider > .slick-next{
        right: -80px;
        top: 35%;
        transform: translateY(-50%);

        &::before{
            content: "\f101";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 5rem;
            border: none;
            font-weight: 200;
        }
        &:hover{
            background: transparent;
            &::before{
                color: $wine-color;
            }
        }
    }
    > .slick-initialized.slick-slider > .slick-prev{
        left: -80px;
        top: 35%;
        transform: translateY(-50%);

        &::before{
            content: "\f100";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 5rem;
            border: none;
            font-weight: 200;
        }
        &:hover{
            background: transparent;
            &::before{
                color: $wine-color;
            }
        }
    }
}

